<a href="https://colab.research.google.com/github/bukovskiy7777/Data-Analysis/blob/main/Test_task_%20KMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set();

# Загальний огляд

In [34]:
df = pd.read_csv("/content/test_task.csv")
df.head()

,user_id,transaction_id,reference_transaction_id,project,plan_id,transaction_type,status,decline_code,transaction_time,psp_name,payment_method_type,card_brand,card_type,card_level,country,amount_usd,fee_usd
0,u_0001f8a7ee92,t_5cd8aa890853,NaN,Nexora,p_3934,SALE,SUCCESS,NaN,2025-09-15 02:21:44.909000,Global Payments,card,VISA,CREDIT,CLASSIC,US,30.58,0.4234
1,u_0001f8a7ee92,t_a9d478f87372,t_5cd8aa890853,Nexora,p_3934,CAPTURE,SUCCESS,NaN,2025-09-19 20:22:12.437000,Global Payments,card,VISA,CREDIT,CLASSIC,US,0.00,1.1781
2,u_0001f8a7ee92,t_f43e08a529ec,NaN,Nexora,p_3934,SALE,DECLINED,4670.0,2025-09-23 20:20:26.408000,Fiserv,card,VISA,CREDIT,CLASSIC,US,0.00,0.6051
3,u_0001f8a7ee92,t_d1439d0cf4be,NaN,Nexora,p_3934,SALE,DECLINED,4670.0,2025-10-19 15:21:50.706000,Global Payments,card,VISA,CREDIT,CLASSIC,US,0.00,0.4222
4,u_0001f8a7ee92,t_1503c7d7d71a,NaN,Nexora,p_3934,SALE,DECLINED,4670.0,2025-10-20 10:33:51.398000,Global Payments,card,VISA,CREDIT,CLASSIC,US,0.00,0.4217

In [35]:
df.shape

(463521, 17)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463521 entries, 0 to 463520
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   user_id                   463239 non-null  object
 1   transaction_id            463521 non-null  object
 2   reference_transaction_id  116264 non-null  object
 3   project                   463521 non-null  object
 4   plan_id                   462588 non-null  object
 5   transaction_type          463521 non-null  object
 6   status                    463521 non-null  object
 7   decline_code              139225 non-null  float64
 8   transaction_time          463521 non-null  object
 9   psp_name                  463521 non-null  object
 10  payment_method_type       459833 non-null  object
 11  card_brand                453801 non-null  object
 12  card_type                 434641 non-null  object
 13  card_level                414152 non-null  object
 14  country                   455527 non-null  object
 15  amount_usd                463521 non-null  float64
 16  fee_usd                   463521 non-null  float64
dtypes: float64(3), object(14)
memory usage: 60.1+ MB

Частина колонок мають пропущені значення, такі як user_id, plan_id, payment_method_type, country, card_brand, card_type, card_level

In [5]:
df.describe()

        decline_code     amount_usd       fee_usd
count  139225.000000  463521.000000  463521.00000
mean     5499.071819      20.436060       1.04847
std      2285.438001      31.552938       2.79007
min        31.000000    -145.120000      -2.86080
25%      4670.000000       0.000000       0.08570
50%      4670.000000       0.000000       0.42290
75%      7322.000000      45.880000       1.41100
max      9966.000000     145.120000      63.12250

In [6]:
df.describe(include=["object"])

,user_id,transaction_id,reference_transaction_id,project,plan_id,transaction_type,status,transaction_time,psp_name,payment_method_type,card_brand,card_type,card_level,country
count,463239,463521,116264,463521,462588,463521,463521,463521,463521,459833,453801,434641,414152,455527
unique,114437,463521,111934,3,48,7,3,462940,7,4,10,3,49,122
top,u_297f52945bab,t_c0cf7c968a46,t_54ad68e488dd,Nexora,p_3934,SALE,SUCCESS,2025-10-30 17:00:00.000000,HSBC,apple_pay,VISA,DEBIT,CLASSIC,US
freq,37,1,11,359197,206464,347031,334150,5,349363,304386,278662,250437,210046,204741

Подивимось, які значення приймають основні категоріальні колонки:

In [7]:
df["project"].value_counts(dropna=False)

project
Nexora     359197
Flowvia     66054
Corely      38270
Name: count, dtype: int64

In [8]:
df["transaction_type"].value_counts(dropna=False)

transaction_type
SALE          347031
CAPTURE        97881
REFUND          9097
ALERT           5064
VOID            3111
CHARGEBACK      1239
DISPUTE           98
Name: count, dtype: int64

In [9]:
df["status"].value_counts(dropna=False)

status
SUCCESS     334150
DECLINED    129269
LOST           102
Name: count, dtype: int64

In [10]:
df["psp_name"].value_counts(dropna=False)

psp_name
HSBC               349363
Fiserv              93135
Global Payments      9409
JPMorgan             5130
FIS                  3561
Vertex Ltd           2915
Fluxline Inc            8
Name: count, dtype: int64

In [11]:
df['payment_method_type'].value_counts(dropna=False)

payment_method_type
apple_pay     304386
card          100489
google_pay     52035
NaN             3688
paypal          2923
Name: count, dtype: int64

In [12]:
df['card_brand'].value_counts(dropna=False)

card_brand
VISA          278662
MASTERCARD    152569
AMEX           18337
NaN             9720
DISCOVER        4185
MAESTRO           37
ELOCARD            4
LOCAL CARD         2
MIR                2
JCB                2
RUPAY              1
Name: count, dtype: int64

In [13]:
df['card_type'].value_counts(dropna=False)

card_type
DEBIT      250437
CREDIT     184093
NaN         28880
PREPAID       111
Name: count, dtype: int64

# Аналіз аномалій в даних

Дивимось які transaction_type є при amount_usd < 0 та fee_usd < 0

In [14]:
df[df["amount_usd"] < 0]["transaction_type"].value_counts()

transaction_type
REFUND        8721
ALERT         4710
VOID          2990
CHARGEBACK    1200
DISPUTE         98
Name: count, dtype: int64

In [15]:
df[df["fee_usd"] < 0]["transaction_type"].value_counts()

transaction_type
DISPUTE       35
CHARGEBACK     2
Name: count, dtype: int64

Дивимось які status є при decline_code <> NaN

In [18]:
df[df["decline_code"].notna()]['status'].value_counts(dropna=False)

status
DECLINED    128811
SUCCESS      10414
Name: count, dtype: int64

Дивимось які transaction_type є при decline_code <> NaN and status == "SUCCESS"

In [25]:
df[(df["decline_code"].notna()) & (df["status"]=="SUCCESS")]['transaction_type'].value_counts(dropna=False)

transaction_type
SALE          4292
ALERT         3204
CAPTURE       2035
CHARGEBACK     883
Name: count, dtype: int64

Дивимось які amount_usd є при різних transaction_type

In [40]:
def categorize_amount(val):
    if val > 0: return 'Positive (> 0)'
    elif val < 0: return 'Negative (< 0)'
    else: return 'Zero (= 0)'

df_copy = df
df_copy['amount_category'] = df_copy['amount_usd'].apply(categorize_amount)
analysis = pd.crosstab(df_copy['transaction_type'], df_copy['amount_category'], margins=True, margins_name='Total')
display(analysis)

amount_category   Negative (< 0)  Positive (> 0)  Zero (= 0)   Total
transaction_type
ALERT                       4710               0         354    5064
CAPTURE                        0               0       97881   97881
CHARGEBACK                  1200               0          39    1239
DISPUTE                       98               0           0      98
REFUND                      8721               0         376    9097
SALE                           0          218700      128331  347031
VOID                        2990               0         121    3111
Total                      17719          218700      227102  463521

In [ ]:
#df.groupby(['psp_name', 'payment_method_type'])['payment_method_type'].value_counts(dropna=False)